body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: cornflowerblue;
}

p {
    font-size: 200px;
    transform: translateY(100px);
    color: white;
}

.bg {
    position: absolute;
    z-index: -1;
    top: 33.5%;
    right: 25%;
    background-color: mediumslateblue;
    width: 50%;
    height: 25%;
    transform: rotate(90)
}
